<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 th:text="#{message.resetPassword}">reset</h1>

            <div class="form-group">
                <label th:text="#{label.user.email}">email</label>
                <input id="email" name="email" type="email" value="" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info form-control" onclick="resetPass()"
                        th:text="#{message.resetPassword}">reset</button>
            </div>

            <a th:href="@{/registration}" th:text="#{label.form.loginSignUp}">
                registration
            </a>
            <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
var serverContext = "http://localhost:8080";
function resetPass(){
    var email = $("#email").val();
    $.post(serverContext + "/reset-password",{email: email} ,
      function(data){
          window.location.href =
           serverContext + "/login";
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "/error";
        }
        else{
            alert(data.responseJSON.message);
            window.location.href = serverContext + "/login";
        }
    });
}

</script>

</body>

</html>