<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
</head>
<body>
<div class="container">
    <p>Hi <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>, </p>

    <p>You can reset password using the following link.</p>

    <p><span th:text="${resetTokenURL}"></span></p>

    <p>If you did not request password reset, please, disregard this email.</p>

    <p>The Kapusta Money Transfer team,</p>
</div>
</body>

</html>